<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">
	
	<parameter name="browserType" value="chrome" />
	<parameter name="appURL" value=" http://automationpractice.com" />

	<test name="Practice Tests">
		<classes>
			<class name="practice.automation.test.App" />
			
		</classes>
	</test>
</suite>